/*  RESET BÁSICO */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  ESTILOS GENERALES (Mobile First) */

body {
    font-family: 'Segoe UI', sans-serif;
    background-color:white;
    color: black;
    display: flex;              /* display 1 */
    flex-direction: column;
    min-height: 100vh;
}

/* HEADER */
header {
    background-color: royalblue;
    color: white;
    padding: 1rem;
    position: fixed;            /* posición 1 */
    width: 100%;
    top: 0;
}

/*  MAIN */

main {
    padding: 6rem 1rem 2rem 1rem;
    flex: 1;
}

/* FOOTER */

footer {
    background-color:black;
    color: white;
    text-align: center;
    padding: 1rem;    
}

/*  NAVEGACIÓN */

nav {
    margin-top: 0.5rem;
    display: flex;              /* display 2 */
    justify-content: space-around;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;    
}

nav a:hover {
    text-decoration: underline;   
}

/* BOTONES  */

.boton {
    display: inline-block;      /* display 3 */
    margin-top: 1rem;
    padding: 0.7rem 1rem;
    background-color: green;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;  
}

.boton:hover {
    background-color: green;
}

/*  FORMULARIO  */

form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    background-color: white;  
    border-radius: 3px;
    box-shadow: 0.3px 10 px black;
}

label {
    margin-top: 0.8rem;
}

input,
select {
    padding: 0.5rem;
    margin-top: 0.3rem;
    border-radius: 4px;
    border: 1px solid gray;
}

/* Selector combinado */
form button.boton {
    border: none;
    cursor: pointer;
}

/* TARJETAS */

.tarjeta {
    background-color: white;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 6px;
    position: relative;         /* posición  2 */
    box-shadow: 0 2px 6px black;
}

.tarjeta p {
    margin-bottom: 0.5rem;
}

/* RESPONSIVE (Tablet/Desktop) */

@media (min-width: 768px) {

    nav {
        justify-content: flex-end;
        gap: 2rem;
    }

    main {
        max-width: 600px;
        margin: 0 auto;
    }
}